<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>


        <h1>{{data}}</h1>
     <!--   <h1>{{data|lower}}</h1>
        <h1>{{data|upper}}</h1>
        <h1>{{data|title}}</h1>
        <h1>{{data|capfirst}}</h1>
        <h1>{{data|length}}</h1>
        <h1>{{data|truncatechars:7}}</h1>
        <h1>{{data|slice:7}}</h1>
        <h1>{{data|truncatewords:3}}</h1>-->
        <h1>{{dt|date:'F Y D'}}</h1>

        <h1>I have {{c}} cat{{c|pluralize}}</h1>
        
        <h1>I have {{c}} mango{{c|pluralize:'es'}}</h1>
        <h1>
            this {{c}} Bottle{{c|pluralize}} {{c|pluralize:'is,are'}} mine













        </h1>








        
        
        
        
    
   
   
   
   













    </center>
    
</body>
</html>